// -------------------------------------------

// Fontes
.font-1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

// Define radius dos inputs
.q-field__control {
  border-radius: 12px !important;
}

/* trava o body/viewport */
html, body, #q-app {
  overflow-x: hidden !important;
  max-width: 100%;
}

/* se estiver usando QLayout, assegure que as áreas internas também não gerem X-scroll */
.q-layout,
.q-page-container,
.q-page {
  overflow-x: hidden !important;
  max-width: 100%;
}

/* opcional: evita “overscroll” horizontal em trackpad/touch */
html, body {
  overscroll-behavior-x: none;
}

/* ===========================
   Scroll horizontal – minimal
   =========================== */
.fancy-scroll {
  min-width: 0;        /* permite encolher dentro do flex parent */
  width: 100%;
  max-width: 100%;

  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  flex-wrap: nowrap;

  /* sua customização da barra */
  scrollbar-width: auto;
  scrollbar-color: var(--sb-thumb, #0047A1) transparent;
}

// -------------------------------------------
// Classes utilitárias

// Gera classes para font-size
@for $i from 10 through 50 {
  .text-#{$i} {
    font-size: #{$i}px;
  }
}

// Gera classes para font-weight
$weights: (300, 400, 500, 600, 700);
@each $i in $weights {
  .weight-#{$i} {
    font-weight: #{$i}
  }
}

// Gera classes para opacity (intervalos de 0.05 entre 0 e 1)
@for $i from 0 through 20 {
  $value: $i * 0.05;
  $class-name: $value * 100;

  .opacity-#{$class-name} {
    opacity: #{$value} !important;
  }
}

// -------------------------------------------